PORTR_DB_URL=postgres://postgres:postgres@localhost:5432/postgres
PORTR_DOMAIN=example.com

PORTR_SERVER_URL=https://example.com
PORTR_SSH_URL=example.com:2222
PORTR_SSH_PORT=2222
PORTR_PROXY_PORT=8001
PORTR_SSH_HOST_KEY=

PORTR_ADMIN_GITHUB_CLIENT_ID=
PORTR_ADMIN_GITHUB_CLIENT_SECRET=
PORTR_ADMIN_PORT=8000
PORTR_ADMIN_DEBUG=false
PORTR_ADMIN_USE_VITE=false

PORTR_AUTO_MIGRATE=false
PORTR_TUNNEL_USE_LOCALHOST=false
PORTR_TUNNEL_DEBUG=false

CLOUDFLARE_API_TOKEN=

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
