<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
    <title>Portr - Expose local ports to public URLs</title>
    <style>
      @font-face {
        font-family: "Manrope Variable";
        src: url("/static/Manrope-VariableFont_wght.ttf") format("woff2");
      }
    </style>
  </head>
  <body>
    <div id="app"></div>
    {% if use_vite %}
    <script
      type="module"
      src="http://localhost:5173/static/@vite/client"
    ></script>
    <script
      type="module"
      src="http://localhost:5173/static/src/main.ts"
    ></script>
    {% else %}{{ vite_tags | safe }}{% endif %}
  </body>
</html>
