<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Localport</title>
  </head>
  <body>
    <div id="app"></div>
    {% if UseVite %}
    <script
      type="module"
      src="http://localhost:5173/static/@vite/client"
    ></script>
    <script
      type="module"
      src="http://localhost:5173/static/src/main.ts"
    ></script>
    {% else %} {{ ViteTags }} {% endif %}
  </body>
</html>
